<div class="p-4">
    <mat-drawer-container class="h-dvh" [hasBackdrop]="false">
        <mat-drawer #drawer [mode]="'side'" [opened]="isOpenSlideMenu()">
            <div class="flex justify-between items-center">
                <div class="flex items-center gap-3 font-bold text-2xl">
                    <img [src]="iconApp" alt="icon app" class="w-8 h-8">
                    <h1> {{ titleApp }} </h1>
                </div>
                <button (click)="toggleMenu()" class="cursor-pointer p-2">
                    <span class="w-8 h-8 icon-[material-symbols--close-rounded]"></span>
                </button>
            </div>
            @for (item of menuItems(); track $index) {
            <div class="flex justify-between items-center p-2 cursor-pointer hover:bg-gray-200"
                [class.bg-gray-200]="isActive(item.route)" (click)="toggleSubMenu($index, item)">
                <div class="flex items-center gap-1">
                    <span [class]="item.icon"></span>
                    {{ item.name }}
                </div>
                @if (item.subMenu) {
                <span [class]="openSubMenuIndex() === $index ? ICONS.UP_ARROW : ICONS.DOWN_ARROW" class="ml-1"></span>
                }
            </div>

            @if (item.subMenu && openSubMenuIndex() === $index) {
            @for (subItem of item.subMenu; track $index) {
            <div class="pl-3 p-2 cursor-pointer hover:bg-gray-200" (click)="navigateChild(subItem)"
                [class.bg-gray-200]="isChildActive(subItem.route)">
                {{ subItem.name }}
            </div>
            }
            }
            }
        </mat-drawer>
        <mat-drawer-content>
            @if(!isOpenSlideMenu()){
            <button (click)="toggleMenu()" class="cursor-pointer p-2">
                <span class="w-6 h-6 icon-[pepicons-pop--menu]"></span>
            </button>
            }
            <ng-content />
        </mat-drawer-content>
    </mat-drawer-container>
</div>