<form class="flex flex-col gap-4 pt-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="input-group">
            <input type="text" placeholder=" " />
            <label>Name</label>
        </div>
        <div class="input-group">
            <input type="text" placeholder=" " />
            <label>Last Name</label>
        </div>
        <div class="input-group">
            <input type="text" placeholder=" " />
            <label>Email</label>
        </div>
        <div class="input-group">
            <input type="text" placeholder=" " />
            <label>Phone</label>
        </div>
    </div>
    <div class="grid grid-rows md:grid-cols-6 gap-4">
        <button
            class="order-2 md:order-0 col-span-1 md:col-start-3 btn--secondary border rounded px-2 py-4 cursor-pointer"
            type="button" (click)="btnCancelForm()">
            Cancel
        </button>
        <button class="order-1 md:order-0 col-span-1 btn--primary" type="submit">
            Save
        </button>
    </div>
</form>