/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "@iconify/tailwind4";
@import "./styles/_variables.css";

.icon-\[mdi--eye\] {
    width: 18px !important;
}

.alert,
.icon-\[mi--close\] {
    background: white !important;
    width: 20px !important;
    height: 20px !important;
}

.he-100 {
    height: 100%;
}

.mdc-button__label {
    color: var(--app-primary-text-color) !important;
}